#:schema ./schema.json

id = "maloja"
name = "Maloja"
icon = "https://maloja.krateng.ch/favicon.ico"
description = "Maloja is a Self-hosted music scrobble database to create personal listening statistics and charts."

[source]
image = "krateng/maloja:latest"

[[ports]]
id = "web"
port = 42010
type = "HTTP"

[[volumes]]
id = "data"
dir = "/var/lib/maloja"

[env]
MALOJA_DATA_DIRECTORY = { default = "/var/lib/maloja", readonly = true }
MALOJA_FORCE_PASSWORD = { default = "" }
