#:schema ./schema.json

id = "mysql5"
name = "MySQL 5"
icon = "https://raw.githubusercontent.com/zeabur/service-icons/main/marketplace/mysql.svg"
description = "MySQL is a relational database management system based on SQL."
docs = "https://zeabur.com/docs/marketplace/mysql"

[source]
image = "mysql:5.7.43"

[[ports]]
id = "database"
port = 3306
type = "TCP"

[[volumes]]
id = "data"
dir = "/var/lib/mysql"

[env]
MYSQL_ROOT_PASSWORD = { default = "${PASSWORD}" }

MYSQL_HOST = { default = "${CONTAINER_HOSTNAME}", expose = true, readonly = true }
MYSQL_PORT = { default = "${DATABASE_PORT}", expose = true, readonly = true }
MYSQL_USERNAME = { default = "root", expose = true, readonly = true }
MYSQL_PASSWORD = { default = "${MYSQL_ROOT_PASSWORD}", expose = true, readonly = true }

MYSQL_DATABASE = { default = "zeabur", expose = true }

[[instructions]]
type = "TEXT"
title = "Command to connect to your MySQL"
content = "mysqlsh --sql --host=${PORT_FORWARDED_HOSTNAME} --port=${DATABASE_PORT_FORWARDED_PORT} --user=${MYSQL_USERNAME} --password=${MYSQL_PASSWORD} --schema=${MYSQL_DATABASE}"

[[instructions]]
type = "TEXT"
title = "MySQL username"
content = "${MYSQL_USERNAME}"
category = "Credentials"

[[instructions]]
type = "PASSWORD"
title = "MySQL password"
content = "${MYSQL_PASSWORD}"
category = "Credentials"

[[instructions]]
type = "TEXT"
title = "MySQL database"
content = "${MYSQL_DATABASE}"
category = "Credentials"

[[instructions]]
type = "TEXT"
title = "MySQL host"
content = "${PORT_FORWARDED_HOSTNAME}"
category = "Hostname & Port"

[[instructions]]
type = "TEXT"
title = "MySQL port"
content = "${DATABASE_PORT_FORWARDED_PORT}"
category = "Hostname & Port"
