#:schema ./schema.json

id = "mysql"
name = "MySQL"
icon = "https://raw.githubusercontent.com/zeabur/service-icons/main/marketplace/mysql.svg"
description = "MySQL is a relational database management system based on SQL."

[source]
image = "mysql:8.0.33"
command = ["/bin/sh"]
args = ["-c", "echo \"CREATE DATABASE IF NOT EXISTS $ZEABUR_INIT_DB_NAME;\" > /docker-entrypoint-initdb.d/init.sql && docker-entrypoint.sh mysqld"]

[[ports]]
id = "database"
port = 3306
type = "TCP"

[[volumes]]
id = "data"
dir = "/var/lib/mysql"

[env]
ZEABUR_INIT_DB_NAME = { default = "zeabur" }
MYSQL_ROOT_PASSWORD = { default = "${PASSWORD}" }

MYSQL_HOST = { default = "${CONTAINER_HOSTNAME}", expose = true, readonly = true }
MYSQL_PORT = { default = "${DATABASE_PORT}", expose = true, readonly = true }
MYSQL_USERNAME = { default = "root", expose = true, readonly = true }
MYSQL_PASSWORD = { default = "${MYSQL_ROOT_PASSWORD}", expose = true, readonly = true }

[[instructions]]
type = "TEXT"
title = "Command to connect to your MySQL"
content = "mysqlsh --sql --host=${PORT_FORWARDED_HOSTNAME} --port=${DATABASE_PORT_FORWARDED_PORT} --user=${MYSQL_USERNAME} --password=${MYSQL_PASSWORD}"
showWhen = "PORT_FORWARDING"

[[instructions]]
type = "TEXT"
title = "MySQL username"
content = "${MYSQL_USERNAME}"
category = "Credentials"

[[instructions]]
type = "PASSWORD"
title = "MySQL password"
content = "${MYSQL_PASSWORD}"
category = "Credentials"

[[instructions]]
type = "TEXT"
title = "MySQL host"
content = "${PORT_FORWARDED_HOSTNAME}"
showWhen = "PORT_FORWARDING"
category = "Hostname & Port"

[[instructions]]
type = "TEXT"
title = "MySQL port"
content = "${DATABASE_PORT_FORWARDED_PORT}"
category = "Hostname & Port"
