#:schema ./schema.json

id = "supabase-pgrest"
name = "Supabase Postgres REST"
description = "Supabase Postgres REST"
icon = "https://icons.zeabur.com/supabase.png"

[source]
image = "postgrest/postgrest:v12.0.1"

[[ports]]
id = "web"
port = 3000
type = "HTTP"

[env]
PGRST_DB_URI = { default = "postgres://postgres:${POSTGRES_PASSWORD}@supabase-postgres.zeabur.internal:5432/postgres" }
PGRST_DB_ANON_ROLE = { default = "anon" }
PGRST_JWT_SECRET = { default = "${JWT_SECRET}" }
PGRST_DB_USE_LEGACY_GUCS = { default = "false" }
PGRST_APP_SETTINGS_JWT_SECRET = { default = "${JWT_SECRET}" }
PGRST_APP_SETTINGS_JWT_EXP = { default = "${JWT_EXP}" }
