main {
	padding-top: 64px !important;
}

html.light .white-logo {
	display: none !important;
}

html.dark .black-logo {
	display: none !important;
}

main p:has(> img) {
	border-radius: 12px;
	box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.3);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

main p:has(> img):hover {
	box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.5);
	transform: scale(1.01);
}
