name: Check if prebuilt definition matches schema

on:
  push:
  pull_request:

jobs:
  check-prebuilts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - run: pip install jsonschema
      - run: python3 ../scripts/check-prebuilts.py
        working-directory: prebuilts

  check-prebuilts-references:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - run: python3 ../scripts/check-prebuilts-variable-refs.py
        working-directory: prebuilts